<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<body>
<div class="left-side sticky-left-side" th:fragment="leftSidebar">
    <!-- logo和图标开始 -->
    <div class="logo">
        <a href="/"><img src="/images/logo-horizontal.png" alt=""></a>
    </div>
    <div class="logo-icon text-center">
        <a href="/"><img src="/images/login-icon.png" alt=""></a>
    </div>
    <!-- logo和图标结束 -->
    <div class="left-side-inner">
        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" th:src="${session.user.getAvatarUrl()}" class="media-object">
                <div class="media-body">
                    <h4><a href="#">[[${session.user.getUsername()}]]</a></h4>
                    <span>[[${session.user.getRole()}]]</span>
                </div>
            </div>
            <h5 class="left-nav-title">账户信息</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="/user/profile"><i class="fa fa-user"></i> 个人资料</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> 设置</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i> 登出</a></li>
            </ul>
        </div>
        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li><a href="/"><i class="fa fa-dashboard"></i> <span>数据看板</span></a></li>
            <li class="menu-list"><a href=""><i class="fa fa-user"></i><span>员工管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/employee">员工基本信息</a></li>
                    <li><a href="/employee/work">员工工作记录</a></li>

                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-check-square-o"></i> <span>待办任务</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/waste/untransportation">未运输废弃物</a></li>
                    <li><a href="/waste/undisposal">未处理废弃物</a></li>
                    <li><a href="/waste/unpaid">未支付废弃物</a></li>
                </ul>

            </li>
            <li class="menu-list"><a href=""><i class="fa fa-trash-o"></i> <span>废弃物管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/waste/collection">废弃物收集记录</a></li>
                    <li><a href="/waste/transportation">废弃物运输记录</a></li>
                    <li><a href="/waste/disposal">废弃物处理记录</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-table"></i> <span>数据与报告</span></a>
                <ul class="sub-menu-list">
                    <li><a href="/chart/wasteChart">三项月度报表</a></li>
                    <li><a href="/chart/report">报告生成</a></li>

                </ul>
            </li>

        </ul>
        <!--导航栏结束-->

    </div>
</div>

</body>
</html>
