<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>个人资料</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- 左边栏开始-->
    <div th:insert="~{leftSidebar :: leftSidebar}"></div>
    <!-- 左边栏结束-->

    <!-- main content start-->
    <div class="main-content">

        <!-- 顶部搜索、用户栏开始-->
        <div th:insert="~{header :: header}"></div>
        <!-- 顶部搜索、用户栏结束-->

        <!-- page heading start-->
        <!--<div class="page-heading">-->
        <!--Page Tittle goes here-->
        <!--</div>-->
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="profile-pic text-center">
                                        <img alt="" th:src="${userDTO.getAvatarUrl()}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <ul class="p-info">
                                        <li>
                                            <div class="title">姓名</div>
                                            <div class="desk">[[${userDTO.getUsername}]]</div>
                                        </li>
                                        <li>
                                            <div class="title">职务</div>
                                            <div class="desk">[[${userDTO.getRole}]]</div>
                                        </li>
                                        <li>
                                            <div class="title">手机号</div>
                                            <div class="desk">[[${userDTO.getPhone}]]</div>
                                        </li>
                                        <li>
                                            <div class="title">邮箱地址</div>
                                            <div class="desk">[[${userDTO.getEmail}]]</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body p-states">
                                    <div class="summary pull-left">
                                        <h4>今日 <span>录入</span></h4>
                                        <span>总计</span>
                                        <h3>[[${todayTotal}]] 项</h3>
                                    </div>
                                    <div id="expense" class="chart-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body p-states green-box">
                                    <div class="summary pull-left">
                                        <h4>本周 <span>录入</span></h4>
                                        <span>总计</span>
                                        <h3>[[${weekTotal}]] 项</h3>
                                    </div>
                                    <div id="pro-refund" class="chart-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body p-states">
                                    <div class="summary pull-left">
                                        <h4>本月 <span>录入</span></h4>
                                        <span>总计</span>
                                        <h3>[[${monthTotal}]] 项</h3>
                                    </div>
                                    <div id="expense2" class="chart-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <header class="panel-heading">
                                    数据动态
                                    <span class="tools pull-right">
                                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                                        </span>
                                </header>
                                <div class="panel-body">

                                    <ul class="activity-list">
                                        <li th:each="wasteDTO : ${wasteDTOs}">
                                            <div class="activity-desk" th:if="${userDTO.getRole().equals('收集工人')}">
                                                <h5><span>录入了一条新的废弃物收集信息:
                                                    已收集[[${wasteDTO.weight}]] 公斤的 [[${wasteDTO.wasteType}]] <a th:href="@{/waste/{id}(id=${wasteDTO.wasteRecordId})}">查看详情>></a></span></h5>
                                                <p class="text-muted">[[${wasteDTO.collectionTime}]] 在 [[${wasteDTO.collectionPoint}]]</p>
                                                <div class="album">
                                                    <!-- 图片 -->
                                                </div>
                                            </div>

                                            <div class="activity-desk" th:if="${userDTO.getRole().equals('司机')}">
                                                <h5><span>录入了一条新的废弃物运输信息:
                                                    已将 [[${wasteDTO.weight}]] 公斤的 [[${wasteDTO.wasteType}]] 从 [[${wasteDTO.collectionPoint}]] 运往 [[${wasteDTO.disposalPoint}]] <a th:href="@{/waste/{id}(id=${wasteDTO.wasteRecordId})}">查看详情>></a></span></h5>
                                                <p class="text-muted">于 [[${wasteDTO.transportTime}]] 到达 </p>
                                                <div class="album">
                                                    <!-- 图片 -->
                                                </div>
                                            </div>

                                            <div class="activity-desk" th:if="${userDTO.getRole().equals('处理工人')}">
                                                <h5><span>录入了一条新的废弃物处理信息:
                                                    已将 [[${wasteDTO.weight}]] 公斤的 [[${wasteDTO.wasteType}]] 进行 [[${wasteDTO.disposalMethod}]] 处理 <a th:href="@{/waste/{id}(id=${wasteDTO.wasteRecordId})}">查看详情>></a></span></h5>
                                                <p class="text-muted">[[${wasteDTO.disposalTime}]] 在 [[${wasteDTO.disposalPoint}]]</p>
                                                <div class="album">
                                                    <!-- 图片 -->
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--body wrapper end-->



    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--Sparkline Chart-->
<script src="/js/sparkline/jquery.sparkline.js"></script>
<script src="/js/sparkline/sparkline-init.js"></script>



<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>


</body>

</html>
