<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>废弃物详情</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- 左边栏开始-->
    <div th:insert="~{leftSidebar :: leftSidebar}"></div>
    <!-- 左边栏结束-->

    <!-- main content start-->
    <div class="main-content">

        <!-- 顶部搜索、用户栏开始-->
        <div th:insert="~{header :: header}"></div>
        <!-- 顶部搜索、用户栏结束-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                废弃物数据详情
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            废弃物收集信息 <span class="label label-success">已收集</span>
                            <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                         </span>
                        </header>
                        <div class="panel-body" style="display: block;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物收集编号：</label>
                                        <span th:text="${wasteDTO.wasteRecordId}">1</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物类型：</label>
                                        <span th:text="${wasteDTO.wasteType}">有机物</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">质量：</label>
                                        <span th:text="${wasteDTO.weight}">32吨</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">收集地点：</label>
                                        <span th:text="${wasteDTO.collectionPoint}">三里屯</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="control-label">收集时间：</label>
                                        <span th:text="${wasteDTO.collectionTime}">2025/2/14</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">状态：</label>
                                        <span class="badge badge-success"
                                              th:if="${wasteDTO.statusId == 3}">已处理</span>
                                        <span class="badge badge-warning"
                                              th:if="${wasteDTO.statusId == 2}">未处理</span>
                                        <span class="badge badge-important"
                                              th:if="${wasteDTO.statusId == 1}">未运输</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物收集负责人：</label>
                                        <span th:text="${wasteDTO.collectionusername}">Reaosen</span>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <a class="btn btn-info btn-xs" type="button" style="margin: 15px"
                                       th:href="@{/waste/collection/modify/{id}(id=${wasteDTO.wasteRecordId})}">修改数据
                                        <i class="fa fa-file"></i></a>
                                    <button class="btn btn-danger btn-xs" type="button" style="margin: 15px"
                                            th:onclick="'javascript:deleteCollection(\''+${wasteDTO.wasteRecordId}+'\');'">
                                        删除数据

                                        <i class="fa fa-times-circle"></i></button>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            废弃物运输信息 <span class="label label-success"
                                                 th:if="${wasteDTO.statusId != 1}">已运输</span><span
                                class="label label-danger" th:if="${wasteDTO.statusId == 1}">未运输</span>
                            <a class="btn btn-info btn-xs" type="button" th:if="${wasteDTO.statusId == 1}"
                               th:href="@{/waste/transportation/form{id}(id=${wasteDTO.wasteRecordId})}">新增运输 <i class="fa fa-plus"></i></a>
                            <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                         </span>
                        </header>
                        <div class="panel-body" style="display: block;" th:if="${wasteDTO.statusId != 1}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物运输编号：</label>
                                        <span th:text="${wasteDTO.transportId}"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">运输质量：</label>
                                        <span th:text="${wasteDTO.weight}">32吨</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">起始地：</label>
                                        <span th:text="${wasteDTO.collectionPoint}">三里屯</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">目的地：</label>
                                        <span th:text="${wasteDTO.disposalPoint}">二里屯</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="control-label">送达时间：</label>
                                        <span th:text="${wasteDTO.transportTime}">2025/2/14</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">车牌号：</label>
                                        <span th:text="${wasteDTO.transportVehicle}">京66666</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物运输负责人：</label>
                                        <span th:text="${wasteDTO.transportusername}">Reaosen</span>
                                    </div>
                                </div>
                                <!--修改按钮、删除按钮-->
                                <div class="col-md-12">
                                    <a class="btn btn-info btn-xs" type="button" style="margin: 15px"
                                       th:href="@{/waste/transportation/modify/{wasteRecordId}(wasteRecordId=${wasteDTO.wasteRecordId})}">修改数据
                                        <i class="fa fa-file"></i></a>
                                    <button class="btn btn-danger btn-xs" type="button" style="margin: 15px"
                                            th:onclick="'javascript:deleteTransportation(\''+${wasteDTO.wasteRecordId}+'\');'">
                                        删除数据

                                        <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            废弃物处理信息 <span class="label label-success" style="margin: 15px"
                                                 th:if="${wasteDTO.statusId == 3}">已处理</span><span
                                class="label label-danger" th:if="${wasteDTO.statusId != 3}">未处理</span>
                            <a class="btn btn-info btn-xs" type="button" th:if="${wasteDTO.statusId == 2}"
                               th:href="@{/waste/disposal/form/{id}(id=${wasteDTO.wasteRecordId})}">新增处理 <i class="fa fa-plus"></i></a>
                            <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                         </span>
                        </header>
                        <div class="panel-body" style="display: block;" th:if="${wasteDTO.statusId == 3}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物处理编号：</label>
                                        <span th:text="${wasteDTO.disposalId}">1</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物类型：</label>
                                        <span th:text="${wasteDTO.wasteType}">有机物</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">处理方法：</label>
                                        <span th:text="${wasteDTO.disposalMethod}">堆肥</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">处理地点：</label>
                                        <span th:text="${wasteDTO.disposalPoint}">二里屯</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <label class="control-label">收支(单位：元)：</label>
                                        <span th:text="${wasteDTO.budget}"> -763</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">支付状态：</label>
                                        <span th:if="${wasteDTO.payStatus.equals('已支付')}"
                                              class="badge badge-success">已支付</span>
                                        <span th:if="${wasteDTO.payStatus.equals('未支付')}"
                                              class="badge badge-important">未支付</span>
                                        <a th:href="@{/weChatPay/{id}(id=${wasteDTO.wasteRecordId})}"
                                           th:if="${wasteDTO.payStatus.equals('未支付')}">去支付>></a>
                                        <span th:if="${wasteDTO.payStatus.equals('已入账')}"
                                              class="badge badge-success">已入账</span>
                                        <span th:if="${wasteDTO.payStatus.equals('未入账')}"
                                              class="badge badge-warning">未入账</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">处理时间：</label>
                                        <span th:text="${wasteDTO.disposalTime}">2025/2/14</span>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">废弃物处理负责人：</label>
                                        <span th:text="${wasteDTO.disposalusername}">Reaosen</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a class="btn btn-info btn-xs" type="button" style="margin: 15px"
                                       th:href="@{/waste/disposal/modify/{wasteRecordId}(wasteRecordId=${wasteDTO.wasteRecordId})}">修改数据
                                        <i class="fa fa-file"></i></a>
                                    <button class="btn btn-danger btn-xs" type="button" style="margin: 15px"
                                            th:onclick="'javascript:deleteDisposal(\''+${wasteDTO.wasteRecordId}+'\');'">
                                        删除数据

                                        <i class="fa fa-times-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
        </div>
        <!--body wrapper end-->


    </div>
    <!-- main content end-->
</section>

<script src="/js/mine/js/axios.min.js"></script>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

<script src="/js/mine/js/wasteProfile.js"></script>

</body>
</html>
