<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>废弃物详情修改</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- 左边栏开始-->
    <div th:insert="~{leftSidebar :: leftSidebar}"></div>
    <!-- 左边栏结束-->

    <!-- main content start-->
    <div class="main-content">

        <!-- 顶部搜索、用户栏开始-->
        <div th:insert="~{header :: header}"></div>
        <!-- 顶部搜索、用户栏结束-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                废弃物数据详情修改
            </h3>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <form class="form-horizontal adminex-form" method="post"
                  th:action="@{/waste/disposal/update/{id}(id=${wasteDTO.wasteRecordId})}">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <header class="panel-heading">
                                废弃物处理信息 <span class="label label-success"
                                                     th:if="${wasteDTO.statusId == 3}">已处理</span><span
                                    class="label label-danger" th:if="${wasteDTO.statusId != 3}">未处理</span>
                                <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                         </span>
                            </header>
                            <div class="panel-body" style="display: block;" th:if="${wasteDTO.statusId == 3}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="margin-bottom: 10px;">
                                            <label class="col-md-3 control-label"
                                                   for="disposalId">废弃物处理编号：</label>
                                            <div class="col-md-9 form-group">
                                                <input type="text" class="form-control"
                                                       th:value="${wasteDTO.disposalId}" name="disposalId"
                                                       id="disposalId" readonly="readonly" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="col-md-3 control-label" for="disposalMethodId">处理方法：</label>
                                            <div class="col-md-9 form-group">
                                                <select class="form-control m-bot15" name="disposalMethodId"
                                                        id="disposalMethodId">
                                                    <!-- 使用 Thymeleaf 填充第一个下拉菜单 -->
                                                    <option th:each="disposalMethod : ${disposalMethods}"
                                                            th:value="${disposalMethod.disposalMethodId}"
                                                            th:text="${disposalMethod.disposalMethod}"
                                                            th:selected="${disposalMethod.disposalMethodId} == ${disposalMethod.disposalMethodId}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="col-md-3 control-label">处理地点：</label>
                                            <div class="col-md-9 form-group">
                                                <select class="form-control m-bot15" name="disposalPointId"
                                                        id="disposalPointId">
                                                    <!-- 使用 Thymeleaf 填充第一个下拉菜单 -->
                                                    <option th:each="disposalPoint : ${disposalPoints}"
                                                            th:value="${disposalPoint.disposalPointId}"
                                                            th:text="${disposalPoint.address}"
                                                            th:selected="${wasteDTO.disposalPoint} == ${disposalPoint.address}"></option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12" style="margin-bottom: 10px;">
                                            <label class="col-md-3 control-label" for="budget">收支(单位：元)：</label>
                                            <div class="col-md-9 form-group">
                                                <input type="number" class="form-control"
                                                       th:value="${wasteDTO.budget}" name="budget" id="budget">
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-bottom: 10px;">
                                            <label class="col-md-3 control-label" for="disposalTime">处理时间：</label>
                                            <div class="col-md-9 form-group">
                                                <input type="text" class="form-control"
                                                       th:value="${wasteDTO.disposalTime}" name="disposalTime"
                                                       id="disposalTime">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="col-md-3 control-label"
                                                   for="disposalAccountId">废弃物处理负责人：</label>
                                            <div class="col-md-9 form-group">
                                                <select class="form-control m-bot15" name="disposalAccountId"
                                                        id="disposalAccountId" readonly="readonly">
                                                    <!-- 使用 Thymeleaf 填充第一个下拉菜单 -->
                                                    <option th:each="disposalUser : ${disposalUsers}"
                                                            th:value="${disposalUser.accountId}"
                                                            th:text="${disposalUser.username}"
                                                            th:selected="${wasteDTO.disposalusername} == ${disposalUser.username}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-10"></div>
                                        <div class="col-md-2">
                                            <button class="btn btn-info" type="submit" style="margin: 15px">提交修改 <i
                                                    class="fa fa-file"></i></button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </form>
        </div>
        <!--body wrapper end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>


<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

</body>
</html>
