<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reaosen.management_system.Mapper.CollectionPointMapper">
  <resultMap id="BaseResultMap" type="com.reaosen.management_system.Model.CollectionPoint">
    <id column="collection_point_id" jdbcType="INTEGER" property="collectionPointId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="responsible_person" jdbcType="VARCHAR" property="responsiblePerson" />
    <result column="collection_Account_id" jdbcType="INTEGER" property="collectionAccountId" />
    <result column="gmt_create" jdbcType="INTEGER" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="INTEGER" property="gmtModified" />
    <result column="storage_capacity" jdbcType="DECIMAL" property="storageCapacity" />
    <result column="used_capacity" jdbcType="DECIMAL" property="usedCapacity" />
    <result column="remaining_capacity" jdbcType="DECIMAL" property="remainingCapacity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    collection_point_id, address, contact, responsible_person, collection_Account_id, 
    gmt_create, gmt_modified, storage_capacity, used_capacity, remaining_capacity
  </sql>
  <select id="selectByExample" parameterType="com.reaosen.management_system.Model.CollectionPointExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from collectionpoint
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collectionpoint
    where collection_point_id = #{collectionPointId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collectionpoint
    where collection_point_id = #{collectionPointId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.reaosen.management_system.Model.CollectionPointExample">
    delete from collectionpoint
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.reaosen.management_system.Model.CollectionPoint">
    insert into collectionpoint (collection_point_id, address, contact, 
      responsible_person, collection_Account_id, 
      gmt_create, gmt_modified, storage_capacity, 
      used_capacity, remaining_capacity)
    values (#{collectionPointId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, 
      #{responsiblePerson,jdbcType=VARCHAR}, #{collectionAccountId,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=INTEGER}, #{gmtModified,jdbcType=INTEGER}, #{storageCapacity,jdbcType=DECIMAL}, 
      #{usedCapacity,jdbcType=DECIMAL}, #{remainingCapacity,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.reaosen.management_system.Model.CollectionPoint">
    insert into collectionpoint
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectionPointId != null">
        collection_point_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="responsiblePerson != null">
        responsible_person,
      </if>
      <if test="collectionAccountId != null">
        collection_Account_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="storageCapacity != null">
        storage_capacity,
      </if>
      <if test="usedCapacity != null">
        used_capacity,
      </if>
      <if test="remainingCapacity != null">
        remaining_capacity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectionPointId != null">
        #{collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="responsiblePerson != null">
        #{responsiblePerson,jdbcType=VARCHAR},
      </if>
      <if test="collectionAccountId != null">
        #{collectionAccountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=INTEGER},
      </if>
      <if test="storageCapacity != null">
        #{storageCapacity,jdbcType=DECIMAL},
      </if>
      <if test="usedCapacity != null">
        #{usedCapacity,jdbcType=DECIMAL},
      </if>
      <if test="remainingCapacity != null">
        #{remainingCapacity,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.reaosen.management_system.Model.CollectionPointExample" resultType="java.lang.Long">
    select count(*) from collectionpoint
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update collectionpoint
    <set>
      <if test="record.collectionPointId != null">
        collection_point_id = #{record.collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null">
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.responsiblePerson != null">
        responsible_person = #{record.responsiblePerson,jdbcType=VARCHAR},
      </if>
      <if test="record.collectionAccountId != null">
        collection_Account_id = #{record.collectionAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=INTEGER},
      </if>
      <if test="record.storageCapacity != null">
        storage_capacity = #{record.storageCapacity,jdbcType=DECIMAL},
      </if>
      <if test="record.usedCapacity != null">
        used_capacity = #{record.usedCapacity,jdbcType=DECIMAL},
      </if>
      <if test="record.remainingCapacity != null">
        remaining_capacity = #{record.remainingCapacity,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update collectionpoint
    set collection_point_id = #{record.collectionPointId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      responsible_person = #{record.responsiblePerson,jdbcType=VARCHAR},
      collection_Account_id = #{record.collectionAccountId,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{record.gmtModified,jdbcType=INTEGER},
      storage_capacity = #{record.storageCapacity,jdbcType=DECIMAL},
      used_capacity = #{record.usedCapacity,jdbcType=DECIMAL},
      remaining_capacity = #{record.remainingCapacity,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.reaosen.management_system.Model.CollectionPoint">
    update collectionpoint
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="responsiblePerson != null">
        responsible_person = #{responsiblePerson,jdbcType=VARCHAR},
      </if>
      <if test="collectionAccountId != null">
        collection_Account_id = #{collectionAccountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=INTEGER},
      </if>
      <if test="storageCapacity != null">
        storage_capacity = #{storageCapacity,jdbcType=DECIMAL},
      </if>
      <if test="usedCapacity != null">
        used_capacity = #{usedCapacity,jdbcType=DECIMAL},
      </if>
      <if test="remainingCapacity != null">
        remaining_capacity = #{remainingCapacity,jdbcType=DECIMAL},
      </if>
    </set>
    where collection_point_id = #{collectionPointId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.reaosen.management_system.Model.CollectionPoint">
    update collectionpoint
    set address = #{address,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      responsible_person = #{responsiblePerson,jdbcType=VARCHAR},
      collection_Account_id = #{collectionAccountId,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=INTEGER},
      storage_capacity = #{storageCapacity,jdbcType=DECIMAL},
      used_capacity = #{usedCapacity,jdbcType=DECIMAL},
      remaining_capacity = #{remainingCapacity,jdbcType=DECIMAL}
    where collection_point_id = #{collectionPointId,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.reaosen.management_system.Model.CollectionPointExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from collectionpoint
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>