<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reaosen.management_system.Mapper.TransportRecordMapper">
  <resultMap id="BaseResultMap" type="com.reaosen.management_system.Model.TransportRecord">
    <id column="transport_id" jdbcType="INTEGER" property="transportId" />
    <result column="waste_record_id" jdbcType="INTEGER" property="wasteRecordId" />
    <result column="transport_time" jdbcType="INTEGER" property="transportTime" />
    <result column="transport_vehicle" jdbcType="VARCHAR" property="transportVehicle" />
    <result column="collection_point_id" jdbcType="INTEGER" property="collectionPointId" />
    <result column="disposal_point_id" jdbcType="INTEGER" property="disposalPointId" />
    <result column="transportUsername" jdbcType="VARCHAR" property="transportusername" />
    <result column="transport_account_id" jdbcType="INTEGER" property="transportAccountId" />
    <result column="gmt_create" jdbcType="INTEGER" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="INTEGER" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    transport_id, waste_record_id, transport_time, transport_vehicle, collection_point_id, 
    disposal_point_id, transportUsername, transport_account_id, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.reaosen.management_system.Model.TransportRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transportrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transportrecord
    where transport_id = #{transportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from transportrecord
    where transport_id = #{transportId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.reaosen.management_system.Model.TransportRecordExample">
    delete from transportrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.reaosen.management_system.Model.TransportRecord">
    insert into transportrecord (transport_id, waste_record_id, transport_time, 
      transport_vehicle, collection_point_id, disposal_point_id, 
      transportUsername, transport_account_id, 
      gmt_create, gmt_modified)
    values (#{transportId,jdbcType=INTEGER}, #{wasteRecordId,jdbcType=INTEGER}, #{transportTime,jdbcType=INTEGER}, 
      #{transportVehicle,jdbcType=VARCHAR}, #{collectionPointId,jdbcType=INTEGER}, #{disposalPointId,jdbcType=INTEGER}, 
      #{transportusername,jdbcType=VARCHAR}, #{transportAccountId,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=INTEGER}, #{gmtModified,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.reaosen.management_system.Model.TransportRecord">
    insert into transportrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transportId != null">
        transport_id,
      </if>
      <if test="wasteRecordId != null">
        waste_record_id,
      </if>
      <if test="transportTime != null">
        transport_time,
      </if>
      <if test="transportVehicle != null">
        transport_vehicle,
      </if>
      <if test="collectionPointId != null">
        collection_point_id,
      </if>
      <if test="disposalPointId != null">
        disposal_point_id,
      </if>
      <if test="transportusername != null">
        transportUsername,
      </if>
      <if test="transportAccountId != null">
        transport_account_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transportId != null">
        #{transportId,jdbcType=INTEGER},
      </if>
      <if test="wasteRecordId != null">
        #{wasteRecordId,jdbcType=INTEGER},
      </if>
      <if test="transportTime != null">
        #{transportTime,jdbcType=INTEGER},
      </if>
      <if test="transportVehicle != null">
        #{transportVehicle,jdbcType=VARCHAR},
      </if>
      <if test="collectionPointId != null">
        #{collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="disposalPointId != null">
        #{disposalPointId,jdbcType=INTEGER},
      </if>
      <if test="transportusername != null">
        #{transportusername,jdbcType=VARCHAR},
      </if>
      <if test="transportAccountId != null">
        #{transportAccountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.reaosen.management_system.Model.TransportRecordExample" resultType="java.lang.Long">
    select count(*) from transportrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transportrecord
    <set>
      <if test="record.transportId != null">
        transport_id = #{record.transportId,jdbcType=INTEGER},
      </if>
      <if test="record.wasteRecordId != null">
        waste_record_id = #{record.wasteRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.transportTime != null">
        transport_time = #{record.transportTime,jdbcType=INTEGER},
      </if>
      <if test="record.transportVehicle != null">
        transport_vehicle = #{record.transportVehicle,jdbcType=VARCHAR},
      </if>
      <if test="record.collectionPointId != null">
        collection_point_id = #{record.collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="record.disposalPointId != null">
        disposal_point_id = #{record.disposalPointId,jdbcType=INTEGER},
      </if>
      <if test="record.transportusername != null">
        transportUsername = #{record.transportusername,jdbcType=VARCHAR},
      </if>
      <if test="record.transportAccountId != null">
        transport_account_id = #{record.transportAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transportrecord
    set transport_id = #{record.transportId,jdbcType=INTEGER},
      waste_record_id = #{record.wasteRecordId,jdbcType=INTEGER},
      transport_time = #{record.transportTime,jdbcType=INTEGER},
      transport_vehicle = #{record.transportVehicle,jdbcType=VARCHAR},
      collection_point_id = #{record.collectionPointId,jdbcType=INTEGER},
      disposal_point_id = #{record.disposalPointId,jdbcType=INTEGER},
      transportUsername = #{record.transportusername,jdbcType=VARCHAR},
      transport_account_id = #{record.transportAccountId,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{record.gmtModified,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.reaosen.management_system.Model.TransportRecord">
    update transportrecord
    <set>
      <if test="wasteRecordId != null">
        waste_record_id = #{wasteRecordId,jdbcType=INTEGER},
      </if>
      <if test="transportTime != null">
        transport_time = #{transportTime,jdbcType=INTEGER},
      </if>
      <if test="transportVehicle != null">
        transport_vehicle = #{transportVehicle,jdbcType=VARCHAR},
      </if>
      <if test="collectionPointId != null">
        collection_point_id = #{collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="disposalPointId != null">
        disposal_point_id = #{disposalPointId,jdbcType=INTEGER},
      </if>
      <if test="transportusername != null">
        transportUsername = #{transportusername,jdbcType=VARCHAR},
      </if>
      <if test="transportAccountId != null">
        transport_account_id = #{transportAccountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=INTEGER},
      </if>
    </set>
    where transport_id = #{transportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.reaosen.management_system.Model.TransportRecord">
    update transportrecord
    set waste_record_id = #{wasteRecordId,jdbcType=INTEGER},
      transport_time = #{transportTime,jdbcType=INTEGER},
      transport_vehicle = #{transportVehicle,jdbcType=VARCHAR},
      collection_point_id = #{collectionPointId,jdbcType=INTEGER},
      disposal_point_id = #{disposalPointId,jdbcType=INTEGER},
      transportUsername = #{transportusername,jdbcType=VARCHAR},
      transport_account_id = #{transportAccountId,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=INTEGER}
    where transport_id = #{transportId,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.reaosen.management_system.Model.TransportRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transportrecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>