<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reaosen.management_system.Mapper.WasteRecordMapper">
  <resultMap id="BaseResultMap" type="com.reaosen.management_system.Model.WasteRecord">
    <id column="waste_record_id" jdbcType="INTEGER" property="wasteRecordId" />
    <result column="waste_type_id" jdbcType="INTEGER" property="wasteTypeId" />
    <result column="collection_point_id" jdbcType="INTEGER" property="collectionPointId" />
    <result column="collection_time" jdbcType="INTEGER" property="collectionTime" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="collection_account_id" jdbcType="INTEGER" property="collectionAccountId" />
    <result column="gmt_create" jdbcType="INTEGER" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="INTEGER" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    waste_record_id, waste_type_id, collection_point_id, collection_time, weight, status, 
    collection_account_id, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.reaosen.management_system.Model.WasteRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wasterecord
    where waste_record_id = #{wasteRecordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wasterecord
    where waste_record_id = #{wasteRecordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.reaosen.management_system.Model.WasteRecordExample">
    delete from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.reaosen.management_system.Model.WasteRecord">
    insert into wasterecord (waste_record_id, waste_type_id, collection_point_id, 
      collection_time, weight, status, 
      collection_account_id, gmt_create, gmt_modified
      )
    values (#{wasteRecordId,jdbcType=INTEGER}, #{wasteTypeId,jdbcType=INTEGER}, #{collectionPointId,jdbcType=INTEGER}, 
      #{collectionTime,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{collectionAccountId,jdbcType=INTEGER}, #{gmtCreate,jdbcType=INTEGER}, #{gmtModified,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.reaosen.management_system.Model.WasteRecord">
    insert into wasterecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wasteRecordId != null">
        waste_record_id,
      </if>
      <if test="wasteTypeId != null">
        waste_type_id,
      </if>
      <if test="collectionPointId != null">
        collection_point_id,
      </if>
      <if test="collectionTime != null">
        collection_time,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="collectionAccountId != null">
        collection_account_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wasteRecordId != null">
        #{wasteRecordId,jdbcType=INTEGER},
      </if>
      <if test="wasteTypeId != null">
        #{wasteTypeId,jdbcType=INTEGER},
      </if>
      <if test="collectionPointId != null">
        #{collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="collectionTime != null">
        #{collectionTime,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="collectionAccountId != null">
        #{collectionAccountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.reaosen.management_system.Model.WasteRecordExample" resultType="java.lang.Long">
    select count(*) from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wasterecord
    <set>
      <if test="record.wasteRecordId != null">
        waste_record_id = #{record.wasteRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.wasteTypeId != null">
        waste_type_id = #{record.wasteTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.collectionPointId != null">
        collection_point_id = #{record.collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="record.collectionTime != null">
        collection_time = #{record.collectionTime,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.collectionAccountId != null">
        collection_account_id = #{record.collectionAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wasterecord
    set waste_record_id = #{record.wasteRecordId,jdbcType=INTEGER},
      waste_type_id = #{record.wasteTypeId,jdbcType=INTEGER},
      collection_point_id = #{record.collectionPointId,jdbcType=INTEGER},
      collection_time = #{record.collectionTime,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=VARCHAR},
      collection_account_id = #{record.collectionAccountId,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{record.gmtModified,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.reaosen.management_system.Model.WasteRecord">
    update wasterecord
    <set>
      <if test="wasteTypeId != null">
        waste_type_id = #{wasteTypeId,jdbcType=INTEGER},
      </if>
      <if test="collectionPointId != null">
        collection_point_id = #{collectionPointId,jdbcType=INTEGER},
      </if>
      <if test="collectionTime != null">
        collection_time = #{collectionTime,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="collectionAccountId != null">
        collection_account_id = #{collectionAccountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=INTEGER},
      </if>
    </set>
    where waste_record_id = #{wasteRecordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.reaosen.management_system.Model.WasteRecord">
    update wasterecord
    set waste_type_id = #{wasteTypeId,jdbcType=INTEGER},
      collection_point_id = #{collectionPointId,jdbcType=INTEGER},
      collection_time = #{collectionTime,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      collection_account_id = #{collectionAccountId,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=INTEGER}
    where waste_record_id = #{wasteRecordId,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.reaosen.management_system.Model.WasteRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>