<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reaosen.management_system.Mapper.WasteRecordMapper">
  <resultMap id="BaseResultMap" type="com.reaosen.management_system.Model.WasteRecord">
    <id column="WasteRecordID" jdbcType="INTEGER" property="wasterecordid" />
    <result column="WasteTypeID" jdbcType="INTEGER" property="wastetypeid" />
    <result column="CollectionPointID" jdbcType="INTEGER" property="collectionpointid" />
    <result column="CollectionTime" jdbcType="INTEGER" property="collectiontime" />
    <result column="Weight" jdbcType="DECIMAL" property="weight" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="gmt_create" jdbcType="INTEGER" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="INTEGER" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    WasteRecordID, WasteTypeID, CollectionPointID, CollectionTime, Weight, Status, account_id, 
    gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.reaosen.management_system.Model.WasteRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wasterecord
    where WasteRecordID = #{wasterecordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wasterecord
    where WasteRecordID = #{wasterecordid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.reaosen.management_system.Model.WasteRecordExample">
    delete from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.reaosen.management_system.Model.WasteRecord">
    insert into wasterecord (WasteRecordID, WasteTypeID, CollectionPointID, 
      CollectionTime, Weight, Status, 
      account_id, gmt_create, gmt_modified
      )
    values (#{wasterecordid,jdbcType=INTEGER}, #{wastetypeid,jdbcType=INTEGER}, #{collectionpointid,jdbcType=INTEGER}, 
      #{collectiontime,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{accountId,jdbcType=INTEGER}, #{gmtCreate,jdbcType=INTEGER}, #{gmtModified,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.reaosen.management_system.Model.WasteRecord">
    insert into wasterecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wasterecordid != null">
        WasteRecordID,
      </if>
      <if test="wastetypeid != null">
        WasteTypeID,
      </if>
      <if test="collectionpointid != null">
        CollectionPointID,
      </if>
      <if test="collectiontime != null">
        CollectionTime,
      </if>
      <if test="weight != null">
        Weight,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wasterecordid != null">
        #{wasterecordid,jdbcType=INTEGER},
      </if>
      <if test="wastetypeid != null">
        #{wastetypeid,jdbcType=INTEGER},
      </if>
      <if test="collectionpointid != null">
        #{collectionpointid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        #{collectiontime,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.reaosen.management_system.Model.WasteRecordExample" resultType="java.lang.Long">
    select count(*) from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wasterecord
    <set>
      <if test="record.wasterecordid != null">
        WasteRecordID = #{record.wasterecordid,jdbcType=INTEGER},
      </if>
      <if test="record.wastetypeid != null">
        WasteTypeID = #{record.wastetypeid,jdbcType=INTEGER},
      </if>
      <if test="record.collectionpointid != null">
        CollectionPointID = #{record.collectionpointid,jdbcType=INTEGER},
      </if>
      <if test="record.collectiontime != null">
        CollectionTime = #{record.collectiontime,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        Weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        Status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wasterecord
    set WasteRecordID = #{record.wasterecordid,jdbcType=INTEGER},
      WasteTypeID = #{record.wastetypeid,jdbcType=INTEGER},
      CollectionPointID = #{record.collectionpointid,jdbcType=INTEGER},
      CollectionTime = #{record.collectiontime,jdbcType=INTEGER},
      Weight = #{record.weight,jdbcType=DECIMAL},
      Status = #{record.status,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{record.gmtModified,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.reaosen.management_system.Model.WasteRecord">
    update wasterecord
    <set>
      <if test="wastetypeid != null">
        WasteTypeID = #{wastetypeid,jdbcType=INTEGER},
      </if>
      <if test="collectionpointid != null">
        CollectionPointID = #{collectionpointid,jdbcType=INTEGER},
      </if>
      <if test="collectiontime != null">
        CollectionTime = #{collectiontime,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        Weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=INTEGER},
      </if>
    </set>
    where WasteRecordID = #{wasterecordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.reaosen.management_system.Model.WasteRecord">
    update wasterecord
    set WasteTypeID = #{wastetypeid,jdbcType=INTEGER},
      CollectionPointID = #{collectionpointid,jdbcType=INTEGER},
      CollectionTime = #{collectiontime,jdbcType=INTEGER},
      Weight = #{weight,jdbcType=DECIMAL},
      Status = #{status,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=INTEGER}
    where WasteRecordID = #{wasterecordid,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.reaosen.management_system.Model.WasteRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wasterecord
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>